<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>souldavis{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" type="image/png">
</head>

<body>
    {% block nav%}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/">Rechnung stellen</a>

                <ul class="nav">

                  <li><a href="{% url "index" %}"><i class="icon-home"></i> Home</a></li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Neu <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "index" %}">Neue Rechnung stellen</a></li>
                      <li><a href="{% url "rechnungsempfaenger_neu" %}">Neuer Rechnungsempfänger</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Bearbeiten <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "rechnungsempfaenger" %}">Rechnungsempfänger bearbeiten</a></li>
                    </ul>
                  </li>

                </ul>


                <ul class="nav pull-right">
                {% if user.is_staff %}
                  <li><a href="{% url "admin:index" %}"><i class="icon-user"></i> Admin</a></li>
                {% endif %}
                </ul>


            </div>
          </div>
        </div>
    {% endblock %}

    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>
