{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - neuer Rechnungsempfänger{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form-inline" action="{% url "rechnungsempfaenger_neu" %}" method="post" enctype="multipart/form-data">
                {% crispy form %}
                <div class="control-group">
                    <label for="id_button" class="control-label">
                    </label>
                    <div class="controls">
                        <button id="id_button" class="btn btn-primary btn-large" type="submit" value="Neue Firma erstellen"><i class="icon-plus icon-white"></i> Neuen Rechnungsempfänger erstellen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
